<!DOCTYPE html>
<html lang="utf-8">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="보명전자 품질검사 시스템">
    <meta name="author" content="byungguan">
    <title>BM ELECTRONICS</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', path='templates/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', path='templates/css/sb-admin-2.min.css') }}" rel="stylesheet">
    
    <style>
        input[type=checkbox] {  
            display: none;
        }

        input[type=checkbox] + label{
            display: inline-block;  
            cursor: pointer;  
            position: relative;  
            padding-left: 5px;  
            margin-right: 15px;  
            font-size: 18px;
        }

        input[type=checkbox]+ label:before {    
            transform : scale(1.4);
        }
        input[type=checkbox]:checked + label:before { 
            transform : scale(1.4);
        }
    </style>
    <script type="text/javascript">
        function showClock(){
          var currentDate = new Date();
          var divClock = document.getElementById('divClock');
          var msg = "현재 시간 : ";
          msg += currentDate.getFullYear()+"년 ";
          msg += currentDate.getMonth()+"월 ";
          msg += currentDate.getDate()+"일 ";
          if(currentDate.getHours()>12){      //시간이 12보다 크다면 오후 아니면 오전
            msg += "오후 ";
            msg += currentDate.getHours()-12+"시 ";
         }
         else {
           msg += "오전 ";
           msg += currentDate.getHours()+"시 ";
         }
   
          msg += currentDate.getMinutes()+"분 ";
          msg += currentDate.getSeconds()+"초";
   
          divClock.innerText = msg;

          setTimeout(showClock,1000);  //1초마다 갱신
        }
      </script>
</head>

<body id="page-top" onload="showClock()" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost:8000/">
                <div class="sidebar-brand-text mx-3">BM ELECTRONICS</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Present
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://localhost:8000/visualization">
                    <i class="fas fa-fw fa-camera-retro"></i>
                    <span>검사 (Inspection)</span>
                </a>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://localhost:8000/visualization">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>이미지 저장 (Save Image)</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                PAST
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://localhost:8000/tables">
                    <i class="fas fa-fw fa-desktop"></i>
                    <span>결과 확인 (Display Result)</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>통계 확인 (Display Stat.)</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>리포트 확인 (Display Report)</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div id="divClock" class="clock"></div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img height="70%" src="{{ url_for('static', path='/logo/bm_logo.png') }}">
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img height="70%" src="{{ url_for('static', path='/logo/ishango_logo6.png') }}">
                            </a>
                        </li>
                    </ul>
                </nav>
<!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- Content Row -->
                    <h1 class="h3 mt-0 text-gray-800">Inspection Status</h1>
                    <p class="mb-2">현재 진행 중인 검사의 상태(OK: 파란색, NG: 빨간색, 대기: 초록색)를 확인할 수 있습니다. 클릭 시 확대된 이미지를 볼 수 있습니다.</p>
                    <div class="row">
                        <!-- Pie Chart -->
                        <div class="col-xl-9 col-lg-9" >
                            <div class="card shadow mb-2" style="height: 655px;">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">검사 진행 상황</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <script type="text/javascript">

                                        //테이블 생성 태그를 연다.
                                        document.write("<table width='80%' style='margin: auto; text-align: center'>");
                                        var img_id = 0
                                        var timestamp = document.location.pathname.split('/')[2]
                                        // for문 시작
                                        for ( var i=0; i<8 ; i++) {
                                            document.write("<tr>");    // <tr> : 행추가.                                       
                                         // 이중 for문 시작
                                            for ( var j=0; j<7 ; j++) {
                                                img_id = img_id + 1
                                                document.write('<td>'+'<a href="http://localhost:8000/sections/'+img_id+'/'+timestamp+'" style="text-decoration:none"><div class="col-lg-12 mb-0"><div id="'+img_id+'" class="card bg-success text-white shadow"><div class="card-body">'+img_id+'</div></div></div></a>'+'</td>');     // <td> : 열추가.
                                            } //end for j                     
                                         document.write("</tr>");
                                        } //end for i
                                       
                                        document.write("</table>");   // 테이블 태그를 닫는다.
                                       
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3" >
                            <div class="card shadow mb-2" style="height: 400px;">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">통신 상태 확인</h6>
                                </div>
                                <div class="card-body align-items-center">
                                    <table style="border-collapse: separate; border-spacing: 0px 40px; margin-right: auto; margin-left: auto; ">
                                        <tr>
                                            <td>
                                                <a href="#" class="btn btn-success btn-circle btn">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="m-0 font-weight-bold text-dark" style="text-indent: 20px;">PLC 통신 상태</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="btn btn-success btn-circle btn">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="m-0 font-weight-bold text-dark" style="text-indent: 20px;">Vison 통신 상태</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="btn btn-warning btn-circle btn">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="m-0 font-weight-bold text-dark" style="text-indent: 20px;">조명 통신 상태</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; iShango Corporation 2021</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', path='templates/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='templates/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', path='templates/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', path='templates/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', path='templates/vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', path='templates/js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', path='templates/js/demo/chart-pie-demo.js') }}"></script>

</body>
<script>
    function changeStatus(){
        var timestamp = document.location.pathname.split('/')[2]
        if (timestamp != null){
            df = {
                "yes": "yes"
            } 
            var tmp_url = 'http://localhost:8000/searching/' + timestamp
            $.ajax({
                type: 'GET',
                url: tmp_url,
                data: JSON.stringify(df),
                dataType:'JSON',
                contentType:"application/json",
                success: function(data){
                    for ( var i=1; i<57 ; i++) {
                        var result_of_parsing_json = JSON.parse(data);
                        var result_status = result_of_parsing_json.sections[i-1].section_flag;
                        if (result_status === true){
                            document.getElementById(i).className = "card bg-primary text-white shadow";
                        } else if (result_status === false){
                            document.getElementById(i).className = "card bg-danger text-white shadow";
                        }
                    }
                },
                error:function(request,status,error){
                    alert("code = "+ request.status + " error = " + error); // 실패 시 처리
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                },
            });
        }
        else{
            df2 = {
                "yes": "yes"
            } 
            $.ajax({
                type: 'GET',
                url: 'http://localhost:8000/monitoring',
                data: JSON.stringify(df2),
                dataType:'JSON',
                contentType:"application/json",
                success: function(data){
                    for ( var i=1; i<57 ; i++) {
                        var result_of_parsing_json = JSON.parse(data);
                        var result_status = result_of_parsing_json.sections[i-1].section_flag;
                        if (result_status === true){
                            document.getElementById(i).className = "card bg-primary text-white shadow";
                        } else if (result_status === false){
                            document.getElementById(i).className = "card bg-danger text-white shadow";
                        }
                    }
                },
                error:function(request,status,error){
                    alert("code = "+ request.status + " error = " + error); // 실패 시 처리
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                },
            });
        }
    }
    setInterval(changeStatus, 1000);
</script>
</html>