<!DOCTYPE html>
<html lang="utf-8">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="보명전자 품질검사 시스템">
    <meta name="author" content="byungguan">
    <title>BM ELECTRONICS</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', path='templates/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
    <link href="{{ url_for('static', path='templates/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        input[type=checkbox] {  
            display: none;
        }

        input[type=checkbox] + label{
            display: inline-block;  
            cursor: pointer;  
            position: relative;  
            padding-left: 5px;  
            margin-right: 15px;  
            font-size: 18px;
        }

        input[type=checkbox]+ label:before {    
            transform : scale(1.4);
        }
        input[type=checkbox]:checked + label:before { 
            transform : scale(1.4);
        }
    </style>
    <script type="text/javascript">
        function showClock(){
          var currentDate = new Date();
          var divClock = document.getElementById('divClock');
          var msg = "현재 시간 : ";
          msg += currentDate.getFullYear()+"년 ";
          msg += currentDate.getMonth()+"월 ";
          msg += currentDate.getDate()+"일 ";
          if(currentDate.getHours()>12){      //시간이 12보다 크다면 오후 아니면 오전
            msg += "오후 ";
            msg += currentDate.getHours()-12+"시 ";
         }
         else {
           msg += "오전 ";
           msg += currentDate.getHours()+"시 ";
         }
   
          msg += currentDate.getMinutes()+"분 ";
          msg += currentDate.getSeconds()+"초";
   
          divClock.innerText = msg;

          setTimeout(showClock,1000);  //1초마다 갱신
        }
    </script>
</head>

<body id="page-top" onload="showClock();" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://192.168.0.42:8000/">
                <div class="sidebar-brand-text mx-3">BM ELECTRONICS</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="http://192.168.0.42:8000/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Present
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://192.168.0.42:8000/visualization">
                    <i class="fas fa-fw fa-camera-retro"></i>
                    <span>검사 (Inspection)</span>
                </a>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://192.168.0.42:8000/visualization">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>이미지 저장 (Save Image)</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                PAST
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="http://192.168.0.42:8000/tables">
                    <i class="fas fa-fw fa-desktop"></i>
                    <span>결과 확인 (Display Result)</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>통계 확인 (Display Stat.)</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>리포트 확인 (Display Report)</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div id="divClock" class="clock"></div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img height="70%" src="{{ url_for('static', path='/logo/bm_logo.png') }}">
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img height="70%" src="{{ url_for('static', path='logo/ishango_logo6.png') }}">
                            </a>
                        </li>
                    </ul>
                </nav>
<!-- End of Topbar -->
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- Content Row -->
                    <h1 class="h3 mt-0 text-gray-800">Visualization Result</h1>
                    <p class="mb-2">현재 진행 중인 검사의 분석 결과값을 볼 수 있습니다. 클릭 시 확대된 이미지를 볼 수 있습니다.</p>
                    <div class="row">
                        <!-- Pie Chart -->
                        <div class="col-xl-9 col-lg-9" >
                            <div class="card shadow mb-2" style="height: 655px;">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">분석 진행 결과</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
                                    <script type="text/javascript">
                                        document.write("<table style='margin: 0px 180px; text-align: center'>");
                                        var id = 0
                                        var result_of_parsing_json;
                                        var result_status;
                                        var section_id;
                                        var timestamp = document.location.pathname.split('/')[3]
                                        // for문 시작
                                        if (timestamp == 'undefined'){
                                            df2 = {
                                            "yes": "yes"
                                            }
                                            $.ajax({
                                                type: 'GET',
                                                url: 'http://192.168.0.42:8000/monitoring',
                                                data: JSON.stringify(df2),
                                                dataType:'JSON',
                                                contentType:"application/json",
                                                async: false,
                                                success: function(data){
                                                    result_of_parsing_json = JSON.parse(data);
                                                    result_status = result_of_parsing_json.timestamp.split(':');
                                                    section_id = document.location.pathname.split('/')[2];
                                                },
                                                error:function(request,status,error){
                                                    alert("code = "+ request.status + " error = " + error); // 실패 시 처리
                                                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                                                },
                                            });
                                        } else{
                                            temp = document.location.pathname.split('/')[3];
                                            result_status = temp.split(':')
                                            section_id = document.location.pathname.split('/')[2];
                                        }


                                        
                                        for ( var i=0; i<4 ; i++) {
                                            document.write("<tr>");    // <tr> : 행추가.
                                        // 이중 for문 시작
                                                for ( var j=0; j<4 ; j++) {
                                                    id = id + 1
                                                    var full_url = "result/" + result_status[0] + "/" + result_status[1] + "/s_" + (section_id) + "/" + id + ".png";
                                                    var patch_url = '{{ url_for("static", path="AddShare")}}'.replace("AddShare", full_url);
                                                    document.write('<td>'+'<a href='+patch_url+' id=a'+(i)+' data-fancybox="gallery" data-caption="'+full_url+'"><image src='+patch_url+' id="'+id+'" style="width: 140px; height:auto;"></div></div></div></a>'+'</td>');     // <td> : 열추가.
                                                        // onerror="this.src=\'{{ url_for("static", path="cat.jpg") }}\'"
                                                } //end for j
                                                if (i==0){
                                                    document.write('<td><span class="ml-5 custom-control custom-checkbox large"><input type="checkbox" class="custom-control-input" id="isMask" name="isMask" checked="checked" onclick="forloop()";><label class="custom-control-label" for="isMask">Mask</label></span><td>');
                                                }                        
                                            document.write("</tr>");
                                        } //end for i
                                        document.write("</table>");  // 테이블 태그를 닫는다.
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3" >
                            <div class="card shadow mb-2" style="height: 400px;">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">통신 상태 확인</h6>
                                </div>
                                <div class="card-body align-items-center">
                                    <table style="border-collapse: separate; border-spacing: 0px 40px; margin-right: auto; margin-left: auto; ">
                                        <tr>
                                            <td>
                                                <a href="#" class="btn btn-success btn-circle btn">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="m-0 font-weight-bold text-dark" style="text-indent: 20px;">PLC 통신 상태</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="btn btn-success btn-circle btn">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="m-0 font-weight-bold text-dark" style="text-indent: 20px;">Vison 통신 상태</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="btn btn-warning btn-circle btn">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <h6 class="m-0 font-weight-bold text-dark" style="text-indent: 20px;">조명 통신 상태</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white ">
                <div class="container" >
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; iShango Corporation 2021</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', path='templates/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='templates/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', path='templates/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', path='templates/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', path='templates/vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', path='templates/js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', path='templates/js/demo/chart-pie-demo.js') }}"></script>
    <!-- {% set fullUrl = "coffee/"+"2"+".jpg" %} -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- var num = 3;
    {% set fullUrl = "coffee/'+num+'.jpg" %} -->
    
</body>
<script>
    function rle2contour(id){
        var section_id = String(document.location.pathname.split('/')[2]);
        var patch_id = String(id);
        var timestamp = document.location.pathname.split('/')[3];
        if (timestamp == 'undefined'){
            df = {
                "section_id": section_id,
                "patch_id" : patch_id,
            }
        } else{
            df = {
                "section_id": section_id,
                "patch_id" : patch_id,
                "timestamp" : timestamp
            }
        }

        $.ajax({
            type: 'POST',
            url: '/onMask',
            data: JSON.stringify(df),
            dataType:'JSON',
            contentType:"application/json",
            success: function(data){
                var bytes = data["images"].replaceAll("[","").replaceAll("]","").replaceAll(" ", "").split(",");
                var bytesArray = new Uint8Array(bytes);
                var blob = new Blob([bytesArray], {type: "image/png"});
                var img_url = window.URL.createObjectURL(blob); // blob:http://192.168.0.42:1234/28ff8746-94eb-4dbe-9d6c-2443b581dd30
                document.getElementById(id).src = img_url;
                },
                error:function(request,status,error){
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                },
            });
        }   

    function forloop(){
        if ($('#isMask').prop("checked")) {
            for (var i=1; i<17 ; i++) {
            rle2contour(i);
        }
        } else {
            changeImg()
        }        
    }

    function changeImg(){
        if (timestamp == 'undefined'){
            df2 = {
            "yes": "yes"
            }
            $.ajax({
                type: 'GET',
                url: 'http://192.168.0.42:8000/monitoring',
                data: JSON.stringify(df2),
                dataType:'JSON',
                contentType:"application/json",
                async: false,
                success: function(data){
                    result_of_parsing_json = JSON.parse(data);
                    result_status = result_of_parsing_json.timestamp.split(':');
                    section_id = document.location.pathname.split('/')[2];
                },
                error:function(request,status,error){
                    alert("code = "+ request.status + " error = " + error); // 실패 시 처리
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                },
            });
        } else{
            temp = document.location.pathname.split('/')[3];
            result_status = temp.split(':')
            section_id = document.location.pathname.split('/')[2];
        }
        df2 = {
            "yes": "yes"
        } 
        for ( var i=1; i<17 ; i++) {
            var full_url = "result/" + result_status[0] + "/" + result_status[1] + "/s_" + (section_id) + "/" + (i) + ".png";
            document.getElementById(i).src = '{{ url_for("static", path="ADDSHARE")}}'.replace("ADDSHARE", full_url);
        }
    }
    // changeImg();
    // setInterval(changeImg, 10000);
    forloop();
</script>
</html>
